@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=DM+Sans&family=Mountains+of+Christmas:wght@700&display=swap');

.LoginPage, .CreatePage {
    background-color: #B48859;
    margin: 0;
    min-height: 100vh;
}

.Homepage, .CreatePostPage, .UserPage {
    background-color: #FFB8D1;
    min-height: 500vh;
}


.LoginWrapper {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.LoginWrapper h1 {
    color: white;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px #40121D;
    
}

.CreatePageWrapper {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.CreatePageWrapper h1 {
    color: white;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px #40121D;

}

.LoginItem {
    padding: 50px;
    width: 1200px;
}

.CreateUserItems {
    padding: 50px;
    width: 1200px;
}

.CreateUserItems p {
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    text-align: center;
}

.LoginItem p {
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    text-align: center;
}

.LogoItem {
    margin: 0;
}

.LogoItem img {
    height: auto;
    width: 100%;
}

input[type=text] {
    border: 3px solid #8C4646;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}

input[type=password] {
    border: 3px solid #8C4646;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}

.buttonWrapper {
    margin-top: 15px;
    margin-bottom: 20px;
}

.buttonWrapper button {
    background-color: #8C4646;
    border: 3px solid #8C4646;
    border-radius: 5px;;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    width: 100%;
}

.buttonWrapper button:hover {
    background-color: #40121D;;
    border: 3px solid #40121D;;
    border-radius: 5px;;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    width: 100%;
}

.CreatePostWrapper h1 {
    color: white;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    text-shadow: 2px 2px #40121D;
    
}

.CreatePostWrapper {
    margin: 0 10%;
    
}

.CreateButtonWrapper {
    margin-top: 15px;
    margin-bottom: 20px;
}

.CreateButtonWrapper button {
    background-color: #8C4646;
    border: 3px solid #8C4646;
    border-radius: 5px;;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    width: 100%;
}

.CreateButtonWrapper button:hover {
    background-color: #40121D;;
    border: 3px solid #40121D;;
    border-radius: 5px;;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    width: 100%;
}

.PostButtonWrapper button {
    background-color: #8C4646;
    border: 3px solid #8C4646;
    border-radius: 5px;;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    width: 100px;
}
.Navbar {
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

.Navbar p {
    color: #40121D;;
    cursor: pointer;
    margin: 20px;
    padding: 0;
}

a:link { text-decoration: none; }

.LogoWrapper img {
    height: auto;
    width: 100%;
}


.PageWrapper {
    margin: 0 10%;
}

.ImagePostWrapper {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

.ImagePostText h1 {
    color: white;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    text-shadow: 2px 2px #40121D;
}

.MyPosts {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    margin: 0 10%;
}

.UserPage h2 {
    color: #40121D ;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.UserPage h1 {
    color: white;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    text-shadow: 2px 2px #40121D;
}

.TitleWrapper {
    width: 500px;
}

.IngredientsWrapper input[type=text] {
    height: 250px;
    width: 800px;
 
}

.InstructionsWrapper input[type=text] {
    height: 400px;
    width: 800px;
}

.ServingsWrapper {
    width: 100px;
}

.BakeryName {
    color: #40121D;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px white;
}
